<!-- <div class="d-flex">
  <div class="col-md-2 p-0 btn-dark position-fixed">
    <app-navbar></app-navbar>
  </div> -->


<!-- <div class="col-md-10 p-0"> -->

<main role="main">
  <div class="container-fluid p-0 m-0">
    <div class="jumbotron m-0">

      <h1> Dashboard </h1>
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb pl-0 pr-0">
          <li class="breadcrumb-item text-red">Home</li>
          <li class="breadcrumb-item text-red">Dashboard</li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>

      <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
        <!-- first four-card row -->
        <div class="row  mt-3 mb-3" id="list-item-1">
          <div class="col-md-3 p-0" *ngFor="let card of cards">
            <app-dashboard-card [card]=card></app-dashboard-card>

          </div>
        </div>


        <!-- circle-progess cards -->
        <div class="row " id="list-item-2">
          <div class="col-md-7">
            <div class="row ">
              <div class="col-md-6 col-sm-6 justify-content-center" *ngFor="let circle of circleProgress">
                <div class="card p-0 mb-4 card-height shadow">
                  <div class="card-body">
                    <div class="col">
                      <app-dashboard-circle-progress [circle]=circle></app-dashboard-circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- donut highchart -->
          <div class="col-md-5 mb-4">
            <div class="card p-0 shadow">
              <div class="card-body p-0">
                <app-dashboard [colors]="colors" [title]="title" [innerSize]="innerSize"></app-dashboard>
              </div>
              <div class="card-footer p-2">
                <div class="ml-2 p-1 font-weight-bold">DONUT CHART EXAMPLE</div>
              </div>
            </div>
          </div>
        </div>

        <!-- row containing two highcharts -->
        <div class="row " id="list-item-3">
          <div class="col-sm-12 mt-6 col-md-6 mb-4">
            <app-dashboard-charts></app-dashboard-charts>
          </div>
          <div class="col-sm-12 mt-6 col-md-6">
            <app-dashboard-charts [chartType]="'column'"></app-dashboard-charts>
          </div>
        </div>
        <div class="row">

          <app-dragndrop></app-dragndrop>

        </div>


      </div>
    </div>
  </div>
</main>

<!-- 
  </div>
</div> -->