:host {
  background: red;
  display: block;
  box-sizing: border-box;
}

.mat-list-item {

  margin: 2px;
  border: 1px solid gray;
}

.dndList {

  transition: all 300ms ease;

}
.dndList .dndDragover { 
  padding-top: 12px;
  padding-bottom: 12px;
  }


.dndDragging {
  opacity: 1 !important;
  filter: opacity(100);
}

.dndDraggingSource > .card{
 
  opacity: 0.5;
  transform: perspective(300px) translateZ(-50px);
  background: #dddddd;
  color: grey;
}

.dndPlaceholder {
  min-height: 115px;
  min-width: 427px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

