<!-- <div class="d-flex flex-column bd-highlight mb-3 overflow fixed-left navbarheight">
  

  <nav id="list-example" class="list-group">
    

    

    

    <div class="p-3 bd-highlight">
      <div class="d-flex">
        <i class="material-icons text-muted pr-2">border_outer</i>
        <div class="text-white">Tabs and Panels</div>
      </div>
    </div>
  </nav>

</div> -->


<nav id="navbar-example3">


  <nav class=" flex-column">

    <a class="" href="#">
      <div class="p-3 bd-highlight btn-danger">
        <div class="d-flex">
          <i class="material-icons pr-2">track_changes</i>
          <div class="text-white font-weight-bold">target</div>
        </div>
      </div>
    </a>

    <a class="" href="#list-item-1">
      <div class="p-3 bd-highlight">
        <div class="d-flex">
          <i class="material-icons text-muted pr-2">view_module</i>
          <div class="text-white">
            <a class="btn-dark" href="#list-item-1"> Dashboard </a>
          </div>
        </div>
      </div>
    </a>

    <a class="" href="#list-item-2">
      <div class="p-3 bd-highlight">
        <div class="d-flex">
          <i class="material-icons text-muted pr-2">shuffle</i>
          <div class="text-white">
            <a class="btn-dark" href="#list-item-2"> UI Elements </a>
          </div>
        </div>
      </div>
    </a>

    <a class="" href="#list-item-3">
      <div class="p-3 bd-highlight">
        <div class="d-flex">
          <i class="material-icons text-muted pr-2">clear_all</i>
          <div class="text-white">
            <a class="btn-dark" href="#list-item-3"> Charts </a>
          </div>
        </div>
      </div>
    </a>
  </nav>
</nav>