<div class="d-flex">
  <div class="col-3 col-md-3">
    <div class="d-flex">
      <img class="pt-3 pb-3 imagesize" src="https://images.bwwstatic.com/columnpic10/680D14A68A5-C7D0-05CF-FCA60F346E27DF86.jpg"
        alt="icon" />
      <div class="pl-2 text-muted pt-3 pb-3">dadsa</div>
    </div>
  </div>
  <div class="col-3 col-md-3 h-100 justify-contents-center pt-3 pb-3"> 4958 </div>
  <div class="cl-3 col-md-3">
    <app-bar-graph></app-bar-graph>
  </div>
  <div class="col-3 col-md-3 text-right pt-3 pb-3"> 21 SEP 10:45 </div>
</div>